<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시글 등록</title>
    <!-- css 가져오기 -->
    <link rel="stylesheet" type="text/css" href="/js/semantic.min.css">

    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body>.grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }

    </style>
</head>

<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            게시글 수정
        </h2>
        <div class="ui large form">

            <form th:action="@{'/boards/edit/' + ${dto.id}}" th:object="${dto}" th:method="put">

                <div class="ui stacked segment">
                    <div class="field">
                        <div>
                            <input type="text"  th:field="*{title}"  placeholder="제목을 입력하세요" autofocus autocomplete="off"
                                   th:errorclass="field-error">
                            <div class="field-error" th:errors="*{title}"></div>
                        </div>
                    </div>

                    <tr>
                        <td colspan="2" height=400>
                            <textarea placeholder="내용을 입력하세요."  th:errorclass="field-error" th:field="*{content}"  style="width: 100%; height: 100%"></textarea>
                            <div class="field-error" th:errors="*{content}"></div>
                        </td>
                    </tr>

                    <button class="ui fluid large teal submit button">수정</button>

                </div>

            </form>

            <form id="delete-form" th:action="@{'/boards/' + ${dto.id}}" th:method="delete">
                <input type="submit" value="Delete"></form>

            <button class="ui fluid large teal submit button">
                <a th:href="@{/boards}">홈으로</a>
            </button>


            <div class="ui error message"></div>

        </div>
    </div>
</div>
<!-- js 가져오기 -->
<script src="/js/jquery3.3.1.min.js"></script>
<script src="/js/semantic.min.js"></script>
</body>

</html>
